.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(22, 0, 0, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fphoto%2Fsilhouette-of-trees-at-sunset-257092%2F&psig=AOvVaw1tBcWkl3lne7brtObCrfZ4&ust=1694250823390000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCKiW96XWmoEDFQAAAAAdAAAAABAQ");
  background-size: cover;
  background-position: center;
}

form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
}

h1{
    color: rgb(77, 1, 77);
    text-align: center;
}

button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}